/* CSS declarations go here */

@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.nav ul {
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
    height: 40px;
}
.nav li {
    font-family: 'Oswald', sans-serif;
    font-size: 15px;
    align-items: center;
}

.nav a {
    text-decoration: none;
    color: #fff;
    display: block;
    transition: .3s background-color;
}

.nav a:hover {
    background-color: #005f5f;
}

.nav a.active {
    background-color: #fff;
    color: #444;
    cursor: default;
}

@media screen and (min-width: 600px) {
    .nav li {
        width: 120px;
        border-bottom: none;
        height: 30px;
        line-height: 30px;
    }
    .nav li {
      float: right;
    }
    .nav ul {
      overflow: auto;
      width: auto;
      margin: 0 auto;
      text-align: center;
    }
    .nav {
      background-color: #4CAF50;
    }
}

.top {
    background-color:#ffffff;
    height:30px;
    padding-top:20px;
    line-height:50px;
    overflow:hidden;
    z-index:1;
}

.logo {
    font-family: 'Oswald', sans-serif;
    text-decoration:none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size:25px;
    letter-spacing:1px;
    color:#555555;
    display:block;
    position:absolute;
    top:17px;
    padding-left:2px;
}

.profile {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #4CAF50;
    border: 0;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 10px;
}
.profile img {
    width: 25px;
    height: 25px;
    padding: 2% 0 0;
}

.login-page {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
}

.form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
    background: #65a099;
}
.form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
}
.form .message a {
    color: #4CAF50;
    text-decoration: none;
}